<html>
  <body>
    <p>Bonjour,</p>
    <p>Le tuteur <strong>{{ tuteur_name }}</strong> a validé l'entretien avec <strong>{{ candidate_name }}</strong>.</p>
    <p>
      <strong>Détails de l'entretien validé:</strong><br/>
      - Date: {{ proposed_date }}<br/>
      - Heure: {{ proposed_time }}<br/>
      - Lieu: {{ location }}<br/>
      - Filiale: {{ filiale_name }}
    </p>
    <p>L'entretien est maintenant confirmé et le candidat a été notifié.</p>
    <p>Cordialement,<br/>L'équipe StageBloom</p>
  </body>
</html>
