<html>
  <body>
    <p>Bonjour,</p>
    <p>Le tuteur <strong>{{ tuteur_name }}</strong> a confirmé sa disponibilité pour l'entretien avec <strong>{{ candidate_name }}</strong>.</p>
    <p>
      <strong>Détails:</strong><br/>
      - Date: {{ proposed_date }}<br/>
      - Heure: {{ proposed_time }}<br/>
      - Lieu: {{ location }}
    </p>
    <p>Vous pouvez maintenant valider officiellement l'entretien dans votre tableau de bord RH.</p>
    <p>Cordialement,<br/>L'équipe StageBloom</p>
  </body>
</html>

