<html>
  <body>
    <p>Bonjour {{ tuteur_name }},</p>
    <p>Un entretien est proposé avec le candidat <strong>{{ candidate_name }}</strong>.</p>
    <p>
      <strong>Détails proposés:</strong><br/>
      - Date: {{ proposed_date }}<br/>
      - Heure: {{ proposed_time }}<br/>
      - Lieu: {{ location }}<br/>
      - Entreprise: {{ company_name }}
    </p>
    <p>
      Veuillez vous connecter à votre tableau de bord Tuteur pour confirmer votre disponibilité ou proposer un autre créneau.
    </p>
    <p>Cordialement,<br/>L'équipe StageBloom</p>
  </body>
  </html>

